* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;
}

h2 {
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1;

}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 360px;
    text-align: center;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td,
table th {
    border: 0.1rem solid var(--light-gray-color);
    white-space: nowrap;
    padding: 1rem;
}

table tfoot td,
table th {
    background: rgba(192, 192, 192, 0.504);
}