.intro-content {
    position: relative;
    top: -2rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img{
    max-width: 100%;
    height: auto;
    padding-left: 50px;
}

.top3-content{
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    margin-left: 20rem;
}
.top3-content h2{
    text-align: center;
    margin-bottom: 5rem;
}
